#canvas-container {
}

#test {
  background-color: #ddd;
}

#container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-start;
}

#container img {
  width: 408px;
  height: auto;
  margin-right: 20px;
}

.spirit-grid {
  margin-top: 200px;
  height: 100vh; /* or any fixed height you prefer */
  overflow-y: scroll;
  padding: 20px;
  width: 100vw;
}

.container-1 {
  position: relative;
  width: 300px;
  padding: 20px;
  background: transparent;
  border: 20px solid transparent;
  border-image: url("https://t3.ftcdn.net/jpg/02/32/65/92/360_F_232659240_WhJrmo5uMLd5bFlIZAq9MWf8UfPAGDhd.jpg") 70 round;
}

.attribute-list {
  list-style: none;
  padding: 0;
}

.attribute-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.attribute-list li:last-child {
  border-bottom: none;
}

.dots {
  flex-grow: 1;
  border-bottom: 3px dotted #000;
  margin: 0 10px;
}

h1 {
  margin: 0;
}

.tabs {
  font-size: 30px;
  padding: 20px;
  color: grey;
  
  font-family: 'Gothic';
  font-weight:100;
  letter-spacing: 5px;
}

span:hover {
  cursor: pointer;
  border-bottom: 1px solid lime;
}

/* 
 * What do you have to be scared of?
 *
 * Lorin Tackett, July 2013
 * http://lorintackett.com
 *
 * EDIT: August 2020
 * -------------------------------------------------------------
 * Earlier this year I updated my personal website to use React,
 * and refactored the clouds seen here as a canvas animation. It
 * is much more fluid and performant with canvas.
 * Check out the code here:
 * https://github.com/ltackett/lorintackett.com/blob/lorintackett.com/2020-01-clouds-and-quotes/src/components/Clouds/Clouds.jsx
 */
 @import url(https://fonts.googleapis.com/css?family=Oswald);
 @keyframes clouds-loop-1 {
   to {
     background-position: -1000px 0;
   }
 }
 .clouds-1 {
   background-image: url("https://s.cdpn.io/15514/clouds_2.png");
   animation: clouds-loop-1 20s infinite linear;
 }
 
 @keyframes clouds-loop-2 {
   to {
     background-position: -1000px 0;
   }
 }
 .clouds-2 {
   background-image: url("https://s.cdpn.io/15514/clouds_1.png");
   animation: clouds-loop-2 15s infinite linear;
 }
 
 @keyframes clouds-loop-3 {
   to {
     background-position: -1579px 0;
   }
 }
 .clouds-3 {
   background-image: url("https://s.cdpn.io/15514/clouds_3.png");
   animation: clouds-loop-3 17s infinite linear;
 }
 
 html, body {
   font-family: sans-serif;
   height: 100%;
   padding: 0;
   margin: 0;
 }
 
 .sky {
   background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
   background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #000000));
   background: -moz-linear-gradient(#333333, #000000);
   background: -webkit-linear-gradient(#333333, #000000);
   background: linear-gradient(#333333, #000000);
 }
 body, body a {
   color: #cccccc;
 }
 
 h1.quote {
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: inline-block;
   vertical-align: middle;
   *vertical-align: auto;
   *zoom: 1;
   *display: inline;
   text-align: right;
   text-decoration: none;
   font-family: 'Oswald', sans-serif;
   font-weight: normal;
   position: absolute;
   top: 50%;
   left: 50%;
   font-size: 1.5em;
   line-height: 1.5em;
   margin: 0;
   text-shadow: 0 -1px 0  #ffffff, 0 2px 3px #000000;
 }
 h1.quote span {
   display: block;
 }
 
 section.info {
   position: absolute;
   bottom: 0;
   right: 2ch;
   font-size: 60%;
 }
 section.info dl {
   display: -webkit-flex;
   display: flex;
 }
 section.info dl dt, section.info dl dd {
   margin: 0;
   padding: 0;
 }
 section.info dl dt {
   padding-right: 1ch;
 }
 section.info dl dd {
   padding-right: 4ch;
 }
 
 .clouds {
   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
   opacity: 0.4;
   pointer-events: none;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   right: 0;
   height: 100%;
 }
 
 .clouds-1,
 .clouds-2,
 .clouds-3 {
   background-repeat: repeat-x;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   height: 500px;
 }

 #center-container {
  text-align: center;
}
h1, button {
  margin: 10px 0; /* Optional: to add some space between the elements */
}
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional: for better visibility */
}
 
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  text-align: center;
  margin-left: 30px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}